a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 80px;
}

.nav-link i {
    font-size: 20px;
}

.navbar-brand h6 {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 20px;
}

.search {
    width: 35%;
    height: 35px;
}

.avatar_navbar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.avatar_header {
    width: 120px;
    height: 120x;
    border-radius: 50%;
}

.avatar_dropdown {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown-menu {
    width: 350px;
}

.active {
    font-weight: bold;
}

.active_item {
    font-weight: bold;
}

body {
    margin-top: 90px;
}

.dropdown-item i {
    padding-right: 8px;
}

.form-label {
    font-weight: bold;
}