.navbar {
    font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.navbar-brand img {
    width: auto;
    height: 20px;
}

.form-control {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.nav-link.active {
    color: #c62e46;
}

.btn-login:hover {
    background-color: #c62e46;
    color: #fff;
}

.btn-login {
    border: 2px solid #c62e46;
}

.btn-register {
    background-color: #c62e46;
    color: #fff;
}

.btn-register:hover {
    background-color: #ea527b;
}

.btn-search {
    background-color: #c62e46;
    color: #fff;
}

.btn-search:hover {
    background-color: #8b75b5;
    color: #fff;
}

.input-search {
    border: none;
    border: 1px solid #cdcdcd;
}

.modal {
    padding-top: 0px;
}

.img-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.avatar:hover {
    border: 2px #c62e46;
    border-style:dashed;
    border-radius: 50%;
}

.cart i {
    color: #c62e46;
    font-size: 20px;
}

.cart span {
    font-size: 14px;
    font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    color: #3e3e3e;
}

.img-offcanva {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.list-group-item {
    padding: 12px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item i {
    margin-right: 10px;
}

.list-group-item:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
    cursor: pointer; /* Con trỏ chuột */
}

span i {
    font-size: 20px;
    padding-right: 8px;
}

