@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* ::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
:root {
    --light: #f6f6f9;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #363949;
    --danger: #d32f2f;
    --light-danger: #fecdd3;
    --warning: #fbc02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --light-success: #bbf7d0;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}
.bx {
    font-size: 1.7rem;
  }
/* body {
    font-family: 'Poppins', sans-serif;
} */

.wrapper {
    display: flex;
}

.main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    padding-top: 50px;
    width: 70px;
    min-width: 70px;
    z-index: auto;
    transition: all .25s ease-in-out;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #000000;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    color:var(--primary);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}
 main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }

   main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }

   main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }

   main .header .left .breadcrumb li {
    color: var(--dark);
  }

   main .header .left .breadcrumb li a {
    color: var(--dark-grey);
    /* pointer-events: none; */
  }

   main .header .left .breadcrumb li a.active {
    color: var(--primary);
    /* pointer-events: none; */
  }

   main .header .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
  }
  nav button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
  }
  nav i{
    padding-top: 4px;
    font-size: 35px;
  }
  nav .notif {
    font-size: 20px;
    position: relative;
  }
  nav .notif i{
    color: #1976d2;
  }

  nav .notif::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media (min-width: 768px) {}
main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 20px;
}

main .insights .li{
    padding: 20px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

main .insights .li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights .li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

main .insights .li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

main .insights .li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

main .insights .li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

main .insights .li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

main .insights .li .info p{
    color: var(--dark);
}
main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
  }

  main .bottom-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
  }

  main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
  }

  main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
  }

  main .bottom-data .header .bx {
    cursor: pointer;
  }

  main .bottom-data .orders {
    flex-grow: 1;
    flex-basis: 500px;
  }

  main .bottom-data .orders table {
    width: 100%;
    border-collapse: collapse;
  }

  main .bottom-data .orders table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
  }

  main .bottom-data .orders table td {
    padding: 16px 0;
  }

  main .bottom-data .orders table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
  }

  main .bottom-data .orders table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  main .bottom-data .orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
  }

  main .bottom-data .orders table tbody tr:hover {
    background: var(--grey);
  }

  main .bottom-data .orders table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
  }

  main .bottom-data .orders table tr td .status.completed {
    background: var(--success);
  }

  main .bottom-data .orders table tr td .status.pending {
    background: var(--warning);
  }
  main .bottom-data .orders table tr td .status.delete {
    background: var(--danger);
  }
  main .bottom-data .orders table tr td .status.confirmed {
    background: var(--primary);
  }
  main .bottom-data .reminders {
    flex-grow: 1;
    flex-basis: 300px;
  }

  main .bottom-data .reminders .task-list {
    width: 100%;
  }

  main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
  }

  main .bottom-data .reminders .task-list li .task-title p {
    margin-left: 6px;
  }

  main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
  }

  main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
  }

  main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
  }

  main .bottom-data .reminders .task-list li:last-child {
    margin-bottom: 0;
  }
