.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-label {
    cursor: pointer;
    margin-bottom: 5px; /* Khoảng cách giữa avatar và các phần tử khác */
}

.avatar-img {
    border: 1px solid #121111;
    width: 120px; /* Đảm bảo kích thước hình ảnh */
    height: 120px; /* Đảm bảo kích thước hình ảnh */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    padding: 8px;
}

.overlay i {
    font-size: 24px;
}
#log{
    text-align: center;
    color: red;
    margin-top: 10px;

}
.hidden {
    display: none;
}
